#wrapper{
	background: #ffffff;
} 

.home {
	background-image:url(./images/bg.png);
}


/*  header contact info section ***/
.header_section{
	background-color:#48A9C5;
	color:#fff;
}
/** navbar menus ***/
.navigation_menu{
	background-color: #fff;
	border-top:2px solid #48A9C5;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus,
.dropdown-menu .active a {	
	background-color: rgba(208, 211, 212, 1);
	box-shadow: none;
}
.collapse ul.nav li.current-menu-parent .dropdown-toggle, .collapse ul.nav li.current-menu-item .dropdown-toggle,
.navbar-default .navbar-collapse ul.nav li.current-menu-parent .dropdown-toggle,.navbar-default .navbar-collapse ul.nav li.current-menu-item .dropdown-toggle
.collapse ul.nav li.current_page_ancestor .dropdown-toggle,.collapse ul.nav li.current_page_ancestor .dropdown-toggle,
.navbar-default .navbar-collapse ul.nav li.current_page_ancestor .dropdown-toggle,.navbar-default .navbar-collapse ul.nav li.current_page_ancestor .dropdown-toggle
{
	background-color: rgba(137, 141, 141, 1);
	color: #fff !important;
	border-radius:0px;
		box-shadow: none;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background-color: rgba(137, 141, 141, 1);
		box-shadow: none;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	background-color: rgba(137, 141, 141, 1);
		box-shadow: none;
}

.dropdown-menu {
	background-color: rgba(137, 141, 141, 1);
}
/** headings titles css ***/

.enigma_heading_title {
  margin: 0px 0 10px;
}

.enigma_heading_title h3 { 
	border-bottom: 0px solid #48A9C5;
	color: #48A9C5;
	text-transform: none;
	margin-top: 20px; /* NB edit 4/29 */
}
.enigma_heading_title2 h3 {
	border-bottom: 2px solid #48A9C5;
	color: #48A9C5;
}
/** slider css ***/
.carousel-list li {
	background: rgba(71, 168, 196, 0.8) !important;
}

.carousel-control.left {
	  background-image: linear-gradient(to right, rgba(0, 0, 0, .25) 0%, rgba(0, 0, 0, .0001) 100%);
}

.carousel-control.right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .25) 100%);
  }
  
.enigma_slider_shadow{
	opacity:0.05;
	height: 70px;
 	bottom: -70px;
}

/** service  section css ***/
.enigma_service { /* NB edit 4/29 */
  padding-top: 0px;
}

.enigma_service .container { /* NB edit 4/29 */
  background: #fff;
}

.enigma_service_iocn{
	border: 4px solid #48A9C5;
	background-color:#48A9C5;
	background-size: 100% 200%;
	background-image: linear-gradient(to bottom, #48A9C5 50%, #fff 50%);
}
.enigma_service_area:hover .enigma_service_iocn i {
	color:#48A9C5;
}
.enigma_service_area:hover .enigma_service_iocn{background-color:#ffffff;}
.enigma_service_iocn_2 i{
	background: #fff;
	border: 4px solid #48A9C5;
}
.enigma_service_iocn_2 i{
	color: #48A9C5;
	background-size: 100% 200%;
	background-image: linear-gradient(to bottom, #fff 50%, #48A9C5 50%);
 }


/****************portfolio css ********************************************************
********************************************************************************/

.enigma_home_portfolio_showcase .enigma_home_portfolio_showcase_icons a {
	background-color: #48A9C5;
	border:2px solid #48A9C5;
	color:#fff;
}
.enigma_home_portfolio_showcase .enigma_home_portfolio_showcase_icons a:hover{
	background-color: #ffffff;
	border:2px solid #48A9C5;
	color:#48A9C5;
}
.enigma_home_portfolio_caption {
	border-left:1px solid #ccc;
	border-bottom:4px solid #48A9C5;
	border-right:1px solid #ccc;
}

.enigma_home_portfolio_caption:hover{
    background: #48A9C5;
}
.enigma_home_portfolio_caption:hover  h3 a ,.enigma_home_portfolio_caption:hover  small{
   color: #ffffff;
}
.img-wrapper:hover .enigma_home_portfolio_caption{
 background: #48A9C5;
 border-left:1px solid #48A9C5;
	border-bottom:4px solid #48A9C5;
	border-right:1px solid #48A9C5;
}
.img-wrapper:hover .enigma_home_portfolio_caption  h3 a,.img-wrapper:hover .enigma_home_portfolio_caption  small{
 color: #ffffff;
}

.enigma_proejct_button a {
	background-color: #f8504b;
	color: #FFFFFF;
	border: 2px solid #48A9C5;
	transition: all 0.4s ease 0s;
}
.enigma_proejct_button a:hover {
	background-color: #ffffff;
	color: #48A9C5;
	border: 2px solid #48A9C5;
	text-decoration:none;
}

.enigma_carousel-prev, .enigma_carousel-next {
    background-color: #fff;
	border: 2px solid #48A9C5;
}
.enigma_carousel-prev:hover, .enigma_carousel-next:hover {
    background-color: #48A9C5;
	color:#fff;
}
.enigma_carousel-prev:hover i, .enigma_carousel-next:hover i{
    color:#fff;
}
.enigma_carousel-prev i,
.enigma_carousel-next i {
	color: #48A9C5;
}

/*** project detail ***/
.enigma_portfolio_detail_pagi li a {
	color: #404040;
	border:2px solid #48A9C5;
	text-align:center;
	background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #48A9C5 50%, #ffffff 50%);
   -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
	
}
.enigma_portfolio_detail_pagi li a:hover {
	color: #404040;
	border:2px solid #48A9C5;
	background-position: 0 -100%;
}

.enigma_portfolio_detail_pagi li a span{
	color:#fff;
	line-height:35px;
}
.enigma_portfolio_detail_pagi li a:hover span{
	color:48A9C5;
}
.enigma-project-detail-sidebar p small {
	color:#777777;
}

.enigma-project-detail-sidebar .launch-enigma-project a {
	color: #ffffff;
	border: 2px solid #48A9C5;
	background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #48A9C5 50%, #ffffff 50%);
   -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.enigma-project-detail-sidebar .launch-enigma-project a:hover {
	background-color: #ffffff;
	color: #48A9C5;
	border: 2px solid #48A9C5;
	background-position: 0 -100%;
}

/** gallery css **/

.enigma_gallery_showcase .enigma_gallery_showcase_icons a {
	background-color: #48A9C5;
	border:2px solid #48A9C5;
	color:#fff;
}

.enigma_gallery_showcase .enigma_gallery_showcase_icons a:hover{
	background-color: #ffffff;
	border:2px solid #48A9C5;
	color:#48A9C5;
}


/**************** .enigma_blog_post_content p css ********************************************************
********************************************************************************/
.enigma_blog_post_content ol { /* NB add 4/9 */
	color: #777777;
	font-size: 16px;
	line-height: 27px;
  }
  
.enigma_blog_post_content ul { /* NB add 4/9 */
	color: #777777;
	font-size: 16px;
	line-height: 27px;
  }
  
.enigma_blog_post_content div.accordion div.accordion-group div.accordion-heading { /* NB add 4/9 */
	color: #777777;
	font-size: 18px;
	line-height: 27px;
  }
  
.enigma_blog_post_content h1 { /* NB add 4/9 */
	font-size:24px;
	}

.enigma_blog_post_content h2 { /* NB add 4/9 */
	font-size:20px;
	}
	
.enigma_blog_post_content h3 { /* NB add 4/9 */
	font-size:18px;
	color: #48A9C5;
	}


/** blog thumbnail css **/
.enigma_blog_thumb_wrapper{
	background:#fff;
	border-bottom: 5px solid #48A9C5;
	box-shadow: 0 0 6px rgba(0,0,0,.7);

}
.enigma_blog_thumb_wrapper h2 a{
	color:#48A9C5;
	transition: all 0.4s ease 0s;
}

.enigma_blog_thumb_wrapper h2:hover a{
	color:#48A9C5;

}
.enigma_blog_thumb_date li i{
	color: #48A9C5;
}
.enigma_tags a ,.enigma_cats a{
	background-size: 100% 200%;
	background-color:#edf0f2;
    background-image: linear-gradient(to bottom, #edf0f2 50%, #48A9C5 50%);
 }

.enigma_tags a:hover , .enigma_cats a:hover{
	color:#fff;
	background-position: 0 -100%;
	background-color:#48A9C5;
}
.enigma_tags a i ,.enigma_cats a i{
	color:#48A9C5;
}
.enigma_tags a:hover i ,.enigma_cats a:hover i{
	color:#fff;
}

.enigma_blog_thumb_wrapper span a i{
	color: #48A9C5;
}
.enigma_blog_thumb_wrapper span a {
	color:#555;
	
}.enigma_blog_thumb_footer{
	padding-top:20px;
	padding-bottom:10px;
	border-top:3px solid  #f5f5f5;
}

.enigma_blog_read_btn{
	border: 2px solid #48A9C5 !important;
	background-size: 100% 200%;
	background-color:#48A9C5;
    background-image: linear-gradient(to bottom, #48A9C5 50%, #fff 50%);
   }
.enigma_blog_read_btn i {
	margin-right:5px;
}
.enigma_blog_read_btn:hover{
	background-position: 0 -100%;
	background-color:#ffffff;
	color: #48A9C5;
}
.enigma_blog_read_btn a{color:#ffffff;}

.enigma_blog_thumb_wrapper_showcase .enigma_blog_thumb_wrapper_showcase_icons a {
	background-color: #48A9C5;
	color: #fff;
	-webkit-transition: all .25s ease-in;
    -moz-transition: all .25s ease-in;
    -o-transition: all .25s ease-in;
    transition: all .25s ease-in;
}
.enigma_blog_thumb_wrapper_showcase .enigma_blog_thumb_wrapper_showcase_icons a:hover{
	background-color: #ffffff;
	border: 2px solid #48A9C5;
	color: #48A9C5;
}
/********* Blog Full width css ********/
.enigma_post_date {
	background: #48A9C5;
	color: #ffffff;
}
.enigma_blog_comment:hover i, .enigma_blog_comment:hover h6{
	color:#48A9C5;
} 
.enigma_fuul_blog_detail_padding h2 a ,.enigma_fuul_blog_detail_padding h2{
	color:#48A9C5;
}
.enigma_fuul_blog_detail_padding h2  a:hover{
	color:#48A9C5;
}
/*** blog sidebar css **/
.enigma_recent_widget_post h3 a { /* NB edit 4/9 */
	color:#DA291C; 
}
.enigma_sidebar_widget { /* NB edit 4/9 */
	border-left: 3px solid #DA291C;
	border-right: 3px solid #DA291C;
	border-bottom: 3px solid #DA291C;
	background-color:#ffffff;
}
.enigma_sidebar_widget_title { /* NB edit 4/9 */
	background:#DA291C;
}
.enigma_sidebar_widget_title h2 { /* NB edit 4/9 */
	font-family: 'Lato', Arial, sans-serif;
	font-size:20px;
}

.enigma_sidebar_link p a:hover, .enigma_sidebar_widget ul li a:hover {
	color:#DA291C;
}

.enigma_widget_tags a , .tagcloud a {
	background-size: 100% 200%;
	background-color:#edf0f2;
    background-image: linear-gradient(to bottom, #edf0f2 50%, #48A9C5 50%);
 }
.enigma_widget_tags a:hover , .tagcloud a:hover {
	border: 1px solid #48A9C5;
	background-color:#48A9C5;
	background-position: 0 -100%;
	
	color: #ffffff;
}

/** blog detail **/
.enigma_author_detail_wrapper{
	background: #48A9C5;
	padding:15px;
	margin-bottom:40px;
	
}
.enigma_author_detail_wrapper{
	border-left:2px solid #48A9C5;
}
/** blog  form input css **/ 
.reply a {
	color: #48A9C5;
}
.enigma_con_input_control:focus, .enigma_con_textarea_control:focus,
.enigma_contact_input_control:focus, .enigma_contact_textarea_control:focus {
  border-color: #48A9C5;
  -webkit-box-shadow: inset 0 0px 0px #48A9C5, 0 0 5px #48A9C5;
          box-shadow: inset 0 0px 0px #48A9C5, 0 0 5px #48A9C5;
}
.enigma_send_button , #enigma_send_button{
	border-color: #48A9C5;
	color: #6a6a6a;
	background-color:#ffffff;
	background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #fff 50%, #48A9C5 50%);
   -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.enigma_send_button:hover ,#enigma_send_button:hover{
	background-position: 0 -100%;
    border: 2px solid #48A9C5;
	color: #ffffff;
	background-color:#48A9C5;
}

.enigma_blog_pagination {
	background-color: #FFFFFF;	
}
.enigma_blog_pagi a {
	border: 1px solid #dbdbdb !important;
	background-color: #ffffff;
	background-size: 100% 200%;
	background-image: linear-gradient(to bottom, #fff 50%, #48A9C5 50%);
   -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
	color: #777777;
}
.enigma_blog_pagi a:hover, .enigma_blog_pagi a.active {
	background-position: 0 -100%;
	color: #ffffff;
}

/****** Testimonial css *******************************************
****************************************************************/
.enigma_testimonial_area i{
	color:#48A9C5;
}
.enigma_testimonial_area img{
	border: 10px solid #48A9C5;
}
.pager a{
	background: #fff;
	border: 2px solid #48A9C5;
}
.pager a.selected{
	background: #48A9C5;
	border: 2px solid #48A9C5;
}
/**** Client Css *************************************************
****************************************************************/
.enigma_client_wrapper:hover {
	border: 4px solid #48A9C5;

}
.enigma_client_prev, .enigma_client_next {
    background-color: #fff;
	border: 2px solid #48A9C5;
}
.enigma_client_prev:hover, .enigma_client_next:hover {
    background-color: #48A9C5;
	color:#fff;
}
.enigma_client_prev:hover i, .enigma_client_next:hover i{
    color:#fff;
}

.enigma_carousel-prev i,
.enigma_carousel-next i {
	color: #48A9C5;
}
/**** About us page Css *************************************************
****************************************************************/
.enigma_team_showcase .enigma_team_showcase_icons a {
	background-color: #48A9C5;
	border:2px solid #48A9C5;
	color:#fff;
}

.enigma_team_showcase .enigma_team_showcase_icons a:hover{
	background-color: #ffffff;
	border:2px solid #48A9C5;
	color:#48A9C5;
}

.enigma_team_caption:hover{
    background: #48A9C5;
}
.enigma_team_caption:hover  h3 a ,.enigma_team_caption:hover  small{
   color: #ffffff;
}

.enigma_team_wrapper:hover .enigma_team_caption{
 background: #48A9C5;
}
.enigma_team_wrapper:hover .enigma_team_caption  h3 ,.enigma_team_wrapper:hover .enigma_team_caption  small{
 color: #ffffff;
}
/***** Call Out Section *****************************************************************
***************************************************************************************/
.enigma_callout_area {
	background-color: #48A9C5;

}
/***** Footer Area Css *****************************************************************
***************************************************************************************/
.enigma_footer_area{
	background: #48A9C5;
	border-top: 0px solid #6B6B6B;
}
/***** Contact Info Css *****************************************************************
***************************************************************************************/
.enigma_contact_info li .desc {
	color: #48A9C5;
}
/***** Shortcode  Css *****************************************************************
***************************************************************************************/
/*Dropcaps Styles*/
.enigma_dropcape_square span {
	background-color: #48A9C5;
    color: #FFFFFF;
}
.enigma_dropcape_simple span {
    color: #48A9C5;
}
.enigma_dropcape_circle span {
	background-color: #48A9C5;
    color: #FFFFFF;
}
/*** breadcum style css **/
.breadcrumb li a {
color: #48A9C5 !important;
}
/** progress bar or nav button css */
.progress-bar {
	background-color: #48A9C5 !important;
}
.btn-search{
	background:#48A9C5 !important;
}
.nav-pills > li  > a{
	border: 3px solid #48A9C5 !important;
	background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #fff 50%, #48A9C5 50%) !important;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-image: linear-gradient(to bottom, #48A9C5 50%, #48A9C5 50%) !important;
	background-color:#48A9C5;
}
.nav-stacked > li  > a
{
	border: 3px solid #48A9C5 !important;
	background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #fff 50%, #48A9C5 50%) !important;
 }
 .nav-stacked > li.active > a, .nav-stacked > li.active > a:hover, .nav-stacked > li.active > a:focus {
	background-image: linear-gradient(to bottom, #48A9C5 50%, #48A9C5 50%) !important;
	background-color:#48A9C5;
}

.navbar-toggle {
background-color: #48A9C5 !important;
border: 1px solid #48A9C5 !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #48A9C5 !important;
}
.enigma_blockquote_section blockquote {
border-left: 5px solid #48A9C5 ;
}
#wp-calendar caption {
background-color: #48A9C5;
color: #ffffff;
padding: 10px;
}
#wp-calendar thead tr th {
text-align: center;
}
table th {
border: 1px solid #dddddd;
padding: 8px;
line-height: 20px;
text-align: center;
vertical-align: top;
color: #777777;
	font-size: 16px;
	line-height: 27px;
}
table td {
border: 1px solid #dddddd;
padding: 8px;
line-height: 20px;
text-align: center;
vertical-align: top;
color: #777777;
	font-size: 16px;
	line-height: 27px;
}
table td {
border: 1px solid #dddddd;
padding: 8px;
line-height: 20px;
text-align: center;
vertical-align: top;
}
#wp-calendar tbody tr td {
text-align: center;
}
.enigma_footer_widget_column ul li a ,.enigma_footer_widget_column ul#recentcomments li {color: #f2f2f2;}
.enigma_footer_widget_column ul li a:hover{color: #48A9C5;}
.enigma_callout_area a:hover{background-color:#393c40;}
ul .social li .facebook a:hover ,ul .social li .twitter a:hover,ul .social li .linkedin a:hover ,ul .social li .youtube a:hover {background-color:#34495e;}
.enigma_blog_pagi a:hover, .enigma_blog_pagi a.active {
background-color: #48A9C5;
color: white;
}

.enigma_scrollup { /* NB add 4/9 */
	background:#898D8D;
	}

.header-sep {/* NB add 4/9 */
	opacity:0;
	}
	
.enigma_header_breadcrum_title h1 {/* NB add 4/9 */
	font-size:24px;
	color:#DA291C;
	}
.breadcrumb {/* NB add 4/9 */
	font-size:14px;
	color:#777777;
	}
		
.carousel {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

	
@media screen and (min-width: 960px) {
	
.carousel {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}

}


@media screen and (min-width:320px) and (max-width:760px){ /* if web browser is more than 761px and less than 980px width */ /* NB add 4/28 */
  .enigma_slider_shadow {
	opacity:0.2;
}
}