/*
 Theme Name:   COP Conference 2015
 Theme URI:    http://example.com/twenty-fifteen-child/
 Description:  COP Conference child theme of enigma
 Author:       Tim Jordan (CTC)
 Template:     enigma
*/

@import url("../enigma/style.css");
 
body {
   font-family: 'Lato', Arial, sans-serif;
   }

.header_section {
background-color: #fff !important;
color: #000  !important;
}

.navigation_menu {
background-color: #48A9C5 !important;
border-top: 0px solid #48A9C5 !important;
}

.navbar-collapse {
margin-top: 0px !important;
margin-bottom: 0px !important;
}

.collapse ul.nav li.current-menu-parent .dropdown-toggle, .collapse ul.nav li.current-menu-item .dropdown-toggle, .navbar-default .navbar-collapse ul.nav li.current-menu-parent .dropdown-toggle, .navbar-default .navbar-collapse ul.nav li.current-menu-item .dropdown-toggle
 .collapse ul.nav li.current_page_ancestor .dropdown-toggle, .collapse ul.nav li.current_page_ancestor .dropdown-toggle, .navbar-default .navbar-collapse ul.nav li.current_page_ancestor .dropdown-toggle, .navbar-default .navbar-collapse ul.nav li.current_page_ancestor .dropdown-toggle {
  background-color: rgba(137, 141, 141, 0.98);
  box-shadow: none;
  color: #fff !important;
  border-radius: 0px;
}

@media only screen and (min-width: 767px){
.navbar-nav {
height: 0px !important;
} 
}
.navbar-default .navbar-nav > li > a {
color: #fff !important;
}
.navbar {
min-height: 40px !important;
}
.navbar-default .navbar-nav > li {
  margin-right: 0px !important;
}

.enigma_footer_widget_area {
  background: #fff;
  border-top: 3.5px solid #48A9C5;
}
.enigma_footer_widget_area p{
    color:#666;
}

.enigma_footer_area {
  background: #48A9C5 !important;
  border-top: 0px solid #6B6B6B;
}

.enigma_heading_title h3 {
  border-bottom: 4px solid #48A9C5;
  color: #48A9C5;
  text-transform: initial;
  font-size: 22px;
  line-height: 28px;
  text-align: left;
  }